<!doctype html>
<html lang="en">

<%- include('head') %>

<body class="vw-100 vh-100">

<%- include('nav') %>
<%- include('vienteBackground') %>
<%- include('welcome') %>
<%- include('articles') %>
<%- include('scripts') %>
</body>

</html>